In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('credit_approval.csv')
data.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  1  f g.1  202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t  6  f   g   43  560  +
1  a   24.5  0.500  u  g  q  h  1.50  t   f  0  f   g  280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t  5  t   g  100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f  0  f   s  120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f  0  t   g  360    0  +